.container {
    max-width: 1050px;
    margin: auto;
  }
  header>nav>ul {
    display: flex;
    justify-content: center;
    background-color: #171715;
  }


  li {
    margin: 1.5rem;
    list-style: none;
  }

  li>a {
    color: white;
    text-decoration: none;
  }

  footer>nav>ul {
    display: flex;
    justify-content: start;
    background-color: #605D53;
  }

  footer li {
    margin: 0.5rem;
  }

  footer {
    margin-block: 2.5rem;
  }